.contactsContainer {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 30px;
  width: 100%;
  overflow: auto;
}

.goBack {
  position: absolute;
  top: 70px;
  left: 5px;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid #e6eaed;
  border-radius: 0 15px 15px 0;
  width: 70px;
  height: 15px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #e6eaed;
  font-size: 12px;
  transition: all 0.003s;
  background-color: #af9e8e;
}

.goback:active,
.goback:hover,
.goback:focus {
  background-color: #b1b9cc;
  color: #af9e8e;
}

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 62px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3470ff;
  border: none;
  background-color: transparent;
  text-decoration: none;
  margin: 100px auto 150px;
}
