.homeContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
}

.homeList {
  gap: 32px;
  overflow-y: hidden;
  margin-inline-start: 0;
  padding-inline-start: 0;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}
