.homeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homeList {
  width: 1184px;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 32px;
}
