@import '../../index.css';
.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 96px;
  width: 100vw;
  justify-content: center;
  border-bottom: 2px solid rgba(25, 26, 21, 0.1);
}

.mainTit {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.mainTitle {
}

.mainTitleSpan {
  color: var(--button-background-color);
}

.pagesEndSign {
  margin-left: 9%;
  display: flex;
  flex-direction: row;
}

.links {
  /* position: absolute;
  top: 21px;
  left: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px; */
}

.toLink {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize; */
  cursor: pointer;
}

.toLink:hover,
.toLink:focus,
.toLink:active {
  color: var(--button-background-color-active);
  transition: all 0.3s allow-discrete;
}

.titleAuthorization {
  background: var(--button-background-color);
}

.titleAuthorization:hover,
.titleAuthorization:focus {
  background: var(--button-background-color-active);
}
