body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

code {
    font-family: 'Manrope', sans-serif;
}