/* .contactsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--button-background-color);
}

.errorMainTitle,
.errorTitle {
  text-align: center;
  margin: 0 auto;
}
.errorMainTitle {
  padding-top: 20px;
  color: #6e6662;
  font-size: 36px;
  padding-bottom: 100px;
}

.errorMainTitle:focus,
.errorMainTitle:hover {
  color: #e6eaed;
}

.errorTitle {
  font-size: 20px;
  padding-bottom: 30px;
}

.errorAbout {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 400px;
}
.error {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
