.homeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background-home);
}
.left {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
}
.about {
  font-weight: 600;
  font-size: 5em;
  line-height: 1.02;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  width: 595px;
  height: auto;
}
span {
  color: var(--button-background-color);
  font-style: italic;
}
.aboutDetails {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  width: 510px;
}
.toLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  margin-bottom: auto;
  margin-top: 40px;
  width: 235px;
  height: 60px;
  color: #fbfbfb;
  background: var(--button-background-color);
}

.toLink:hover,
.toLink:focus {
  background: var(--button-background-color-active);
}

.toSvg {
  padding-left: 8px;
}

.hero {
  border-radius: 10px;
  margin-top: 78px;
  width: calc(464px / 1536 * 100%);
  height: auto;
}
.heroPart {
  position: relative;
  display: flex;
  bottom: 12.5em;
  right: 6.5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background: var(--button-background-color);
}

.rightOk {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImg {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heroImgTitle {
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
}
.heroImgP {
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
}

.heroImgDet {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background: var(--button-background-color);
  transform: rotate(-15deg);
  position: relative;
  bottom: 29em;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
}
.heroImgDet2 {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: var(--button-background-color);
  transform: rotate(15deg);
  position: relative;
  bottom: 40em;
  left: 28.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
